nav {
	text-align: center;
	background-color: purple;
	position: fixed;
	height: 50px;
	width: 100%;
	opacity: 0.4;
}

nav li {
	display: inline;
	padding: 50px;
}

nav a {
	color: lavender;
	font-size: 25px;
}

nav li a:hover{	
	background-color: lavender;
	color: black;
}

#sixty {
	background-color: grey;
	height: 230px;
	padding: 20px;
	font-size: 25px;
}

#seventy {
	background-color: lightgrey;
	height: 340px;
	padding: 20px;
	font-size: 25px;
}

#eighty {
	background-color: grey;
	height: 350px;
	padding: 20px;
	font-size: 25px;
}

#ninety {
	background-color: lightgrey;
	height: 480px;
	padding: 20px;
	font-size: 25px;
}

#thousand {
	background-color: grey;
	height: 300px;
	padding: 20px;
	font-size: 25px;
}

#ten {
	background-color: lightgrey;
	height: 360px;
	padding: 20px;
	font-size: 25px;
}